body{
    padding:0px;
    margin:0px;
}
.forbox{
    width:380px;
    height:450px;
    border-radius:30px;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    color:rgb(167, 6, 105);
background-color: white;
    border:solid;
    border-color:rgb(134, 133, 134);

}
.fcp{
    font-size:26px;
    line-height:50px;
    text-align: center;
color:black;
}
.ftp{
    width:80%;
    margin-bottom:10px;
border:none;
height:25px;
border-bottom: solid 2px black;
font-size:17px;
}
.inforbox {    
padding:10px;
padding-left: 20px;
padding-top: 30px;
}
.fpp{
    line-height:38px;
    font-size:20px;
    font-weight: bold;
   
}
.fec{
    font-size: 15px;
    color:rgb(134, 133, 134);
}
.flb{
    width:100%;
    padding:10px;
    background-color:rgb(167, 6, 105) ;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border-color: white;
    margin-top: 0px;
}
.flb:hover{
    cursor: pointer;
    background-color: rgb(92, 90, 92);
}
.fcm{
    float:right;
    padding-right: 10px;
    padding-top: 0px;
}
.fcm:hover{
    cursor:pointer;
    color: rgb(134, 133, 134);
}